body {
  font-family: 'Comic Neue';font-size: 22px;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

h1, h2 {
  margin: 0;
}

nav {
  background-color: #ddd;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #333;
}
